<div class="card">

    <div class="card-header">Filtros</div>

    <div class="body">
        <form>
            <div class="form-group">
                <label for="de">de</label>
                <input type="number" id="de" class="form-control">
                <label for="ate">até</label>
                <input type="number" id="ate" class="form-control">
            </div>
            <div class="form-group">

            </div>

            <button class="btn btn-primary btn-block btn-sm">Filters</button>
        </form>
    </div>
</div>
